.about-card{
box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
width: 270px;
height: 450px;
}
.offer-head h1::after {
  content: '';
  flex: 1;
  margin-left: 1rem;
  height: 1px;
  background-color: #000;
}

 h1::after {
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 1px solid black;
  z-index: -1;
}
.back{
  display: flex;
  flex-direction: column;
  position: fixed;
  color:rgb(32, 23, 23);
  left: 25px;
  top:50%;
  }
.about-card img{
  height: 250px;
  width: 270px;
}
.about-card .des{
  padding:1rem;
}